.liked {
  .liked-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .search-input {
    margin-bottom: 16px;
  }
  .liked-list {
    margin-top: 24px;
  }
}
